main {
  display: flex;
  flex-direction: column;
}

.title-search-container {
  background-color: $title-search-bg-color;
  height: 250px;
}

.title-search-container > h1 {
  color: white;
  font-family: $header-font;
  font-size: 32px;
  margin-top: 40px;
  text-align: center;
}

@media only screen and (min-width: 850px) {
  .title-search-container {
    height: 350px;
  }

  .title-search-container > h1 {
    font-size: 40px;
    margin-top: 60px;
  }
}