.bg-overlay {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  height: 6000px;
  position: absolute;
  width: 100%;
}

.overlay-img-close {
  font-size: 24px;
  margin: 0;
  position: absolute;
  right: 10%;
  top: -1%;
}

.overlay-img-container {
  height: 100%;
  position: absolute;
  margin: 50% 0;
  width: 100%;
}

.overlay-img-container > img {
  display: block;
  margin: 5% auto 30px;
  width: 65%;
}

.overlay-img-title {
  margin: 0 20px;
  text-align: center;
} 

.ten-img {
  display: block;
  margin: 0 auto 30px;
}

.ten-img-container {
  border: 1px solid #808080;
  margin: 20px auto;
  padding: 20px;
  width: 250px;
}


@media only screen and (min-width: 400px) {
  .overlay-img-title {
    margin: 0 50px;
  }

  .ten-img {
    width: 220px;
  }

  .ten-img-container {
    width: 320px;
  }

  .ten-img-container > p {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 500px) {
  .overlay-img-container {
    font-size: 18px;
  }

  .overlay-img-container > img {
    margin: 5% auto 45px;
  }

  .ten-img {
    width: 250px;
  }

  .ten-img-container {
    font-size: 18px;
    width: 420px;
  }

  .ten-img-container > p {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 700px) {
  .overlay-img-container > img {
    margin: 5% auto 60px;
  }

  .overlay-img-title {
    margin: 0;
    text-align: center;
  }

  .ten-img {
    margin: 0 auto 38px;
    width: 300px;
  }

  .ten-img-container {
    margin: 40px auto;
  }
}

@media only screen and (min-width: 850px) {
  .img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .overlay-img-close {
    font-size: 32px;
  }

  .overlay-img-container {
    font-size: 24px;
  }

  .overlay-img-container > img {
    margin: 5% auto 70px;
  }

  .ten-img {
    height: 80%;
    margin: 0 auto 30px;
    width: 80%;
  }
  
  .ten-img-container {
    margin: 40px auto;
    padding: 50px 20px;
    width: 40%;
  }
}
